.inputbox{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #252D30;
  color: white;
  text-align:center;
}

.loginpage{
  margin: auto;
  margin-top: 5rem;
  width: 30%;
  height: 80%;
  text-align:center;
  background-color: #3E4750;
  border-radius: 30px;
  padding: 50px;
}

