.image {
  
  border-radius: 30px;
  width: 70%;
  height: auto;
  margin: 1rem;
}


.promo {
  border-radius: 30px;
  width: 100%;
}

.graybox{
  background-color: #252D30;
  border-radius: 20px;
}
.graybox:hover{
  background-color: gray;
}
.categorytable{
  width: 50%;
  margin: auto;
  
}
.promop{
 color: black;
 font-size: 32px;
}
.promotable{
  width: 100%;
  margin: auto;
  background-color: #3E4750;
}
