body {
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  background-color: #EBECEE;
  
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}
.logo{
  
  border-radius: 30px;
  margin:auto;
  max-width: 100px;
  height: auto;
  margin-left: 100px; 
}

header {

  background-color: #3E4750;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  display: flex;

}

h1{
  font-size: 72px;
  color: #EBECEE;
  margin: auto;
  left: 0;right: 0;
  margin-bottom: 15px;

}
.headerbutton{
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  background-color: #FFCD30;
  width: 15em;
  color: white;
  border: 2px solid #EBECEE;
}
.headerbutton:hover{
  background-color: white;
  color: gray;
}

.inputbox{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #252D30;
  color: white;
  text-align:center;
}

.loginpage{
  margin: auto;
  margin-top: 5rem;
  width: 30%;
  height: 80%;
  text-align:center;
  background-color: #3E4750;
  border-radius: 30px;
  padding: 50px;
}

.navbar {
  
  overflow: hidden;
  background-color: #3E4750;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
 
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #FFCD30;
  font-family: inherit;
  margin: 0;
  
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
  
  border-radius: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #252D30;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #3E4750;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.footer {
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  left: 0;
  bottom: 0;
  width: 84%;
  background-color: #3E4750;
  color: white;
  text-align: center;
}

.footer h2 {
  padding-top: 20px;
}

.footer .name {
  display: inline-block;
  padding-inline: 15%;
}

.footer hr {
  margin-right: 4%;
  margin-left: 4%;
}

.container {
  position: relative;
  padding-right: 25px;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.container .card .imgBox {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  transition: 0.5s;
}

.container .card:hover .imgBox {
  top: 0%;
  transform: translateY(0%);
}

.container .card {
  position: relative;
  width: 320px;
  height: 500px;
  background: #252D30;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFCD30;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  content: 'BIKE';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);

}

.container .card .contentBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBox {
  height: 315px;
}

.container .card .contentBox h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
  padding-bottom: 1px;
  font-style: italic;
}

.container .card .contentBox h3{
  position: relative;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #fff;
  padding-top: 0px;
  font-style: italic;
}

.container .card .contentBox .size,
.container .card .contentBox .color{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  transition: 0.5s;
}

.container .card .contentBox .size h3,
.container .card .contentBox .color h3{
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-right: 10px;
  padding 0px 15px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBox .size h3 {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.45s;
  transform: translateY(0px);
}

.container .card:hover .contentBox .color h3 {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.65s;
  transform: translateY(0px);
}

.container .card .contentBox .size span{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  display: inline-block;
  color: black;
  background: #fff;
  margin: 10px 5px;
  transition: 0.5s;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBox .size span {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.45s;
  transform: translateY(0px);
}


.container .card .contentBox .size span:hover {
  background: #FFCD30;
  transition-delay: 0s;
}

.container .card .contentBox .color span {
  width: 20px;
  height: 20px;
  background: #FFCD30;
  border-radius: 50%;
  margin: 10px 5px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBox .color span {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
  transition-delay: 0.65s;
}

.container .card .contentBox .color span:nth-child(2) {
  background: #fff;
}

.container .card .contentBox .color span:nth-child(3) {
  background: #000;
}

.container .card .contentBox .color span:nth-child(4) {
  background: blue;
}

.container .card .contentBox a {
  display: inline-block;
  padding: 10px 5px;
  background: #fff;
  border-radius: 4px;
  margin-top: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBox a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.85s;
}




